<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>434533804593-r56h1g0e34nqm674kbtnbd70n2dp59io.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.434533804593-r56h1g0e34nqm674kbtnbd70n2dp59io</string>
	<key>API_KEY</key>
	<string>AIzaSyB5kACpzU9EllmHBli4MdCUaMDaQ4byXnI</string>
	<key>GCM_SENDER_ID</key>
	<string>434533804593</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hgp.attendance</string>
	<key>PROJECT_ID</key>
	<string>hgpapp3</string>
	<key>STORAGE_BUCKET</key>
	<string>hgpapp3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:434533804593:ios:47f02a03754def0b904310</string>
	<key>DATABASE_URL</key>
	<string>https://hgpapp3.firebaseio.com</string>
</dict>
</plist>